
<h1>Gruppen</h1>

<div *ngFor="let group of groups$ | async | keyvalue">
    <button class="group-btn" (click)="openGroup(group.key)" mat-stroked-button>{{ group.value.groupName }}</button>
    <button *ngIf="authService.isLogged | async" mat-icon-button (click)="editGroup(group.key)">
        <mat-icon>edit</mat-icon>
    </button>
</div>

<button *ngIf="authService.isLogged | async" class="control-btn" mat-raised-button (click)="goToCategoryEditor()">Neue Kategorie</button>
<button class="control-btn" mat-raised-button color="accent" (click)="navigateBack()">Zurück</button>
