<ng-container *ngIf="board$ | async as board">
    <h2 class="title">Rundenzeit ({{board?.countdown?.totalTime | timeLeft}})</h2>
    <button class="edit-btn" mat-mini-fab (click)="changeTotalTime()"><mat-icon>edit</mat-icon></button>
    <div class="time-control">
        <button *ngIf="board.countdown.isTimeRunning == false" (click)="startCountdown()" mat-raised-button color="primary">Starten</button>
        <button *ngIf="board.countdown.isTimeRunning == true" (click)="stopCountdown()" mat-raised-button color="accent">Pause</button>
        <button mat-raised-button color="warn" (click)="resetCountdown()">Timer Reseten</button>
    </div>
</ng-container>
