<div class="main">
    <h1>Punktetafel Übersicht</h1>
    
    <ng-container *ngIf="allBestOf5Boards$ | async as allBestOf5Boards">
        <ng-container *ngIf="(allBestOf5Boards | json) != ({} | json)">
            <h2>-Best of 5-</h2>
            <div class="board" *ngFor="let bestOf5Board of allBestOf5Boards | keyvalue">
                <h3>{{bestOf5Board.value.name}}:</h3>
                <div>
                    <button *ngIf="authService.isLogged | async"
                            mat-stroked-button
                            color="primary"
                            routerLink="./best-of-5/control/{{bestOf5Board.key}}"
                            >Steuerung</button>
                            
                    <button mat-stroked-button
                            color="primary"
                            routerLink="./best-of-5/scoreboard/{{bestOf5Board.key}}"
                            >Punktetafel</button>
                </div>
            </div>
        </ng-container>
    </ng-container>
    
    <ng-container *ngIf="allTeamPointBoards$ | async as allTeamPointBoards">
        <ng-container *ngIf="(allTeamPointBoards | json) != ({} | json)">
            <h2>-Team Point-</h2>
            <div class="board" *ngFor="let teamPointBoard of allTeamPointBoards | keyvalue">
                <h3>{{teamPointBoard.value.name}}</h3>
                <button *ngIf="authService.isLogged | async"
                        mat-stroked-button
                        color="primary"
                        routerLink="./team-point/control/{{teamPointBoard.key}}"
                        >Steuerung</button>
                <button mat-stroked-button
                        color="primary"
                        routerLink="team-point/scoreboard/{{teamPointBoard.key}}"
                        >Punktetafel</button>
            </div>
        </ng-container>
    </ng-container>
    
    <div class="nav-btn-container">
        <button *ngIf="authService.isLogged | async" mat-raised-button (click)="openNewBoardDialog()">Neues Board</button>
        <button mat-raised-button color="accent" (click)="navigateBack()">Zurück</button>
    </div>

</div>