<h2 mat-dialog-title>Gruppen Editor</h2>
<div class="group">
  
  <form [formGroup]="form">
    <mat-form-field appearance="legacy">
      <mat-label>Gruppenname</mat-label>
      <input matInput placeholder="Gruppenname" formControlName="groupName">
    </mat-form-field>
    <table>
      
      <tr formArrayName="titles">
        <th *ngFor="let title of titles.controls; index as i"
            [class.hoverColumn]="i == hoverColumn"
            [class.borderBottom]="i == hoverColumn && memberValuesArrays.length == 0">
          
          <div class="table-header">
            <button (mouseenter)="setMouseHoverColumn(i)"
                    (mouseleave)="setMouseHoverColumn(-1)"
                    mat-icon-button (click)="removeColumn(i)"
                    matTooltip="Kategorie löschen">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-form-field appearance="legacy">
              <mat-label>Kategorie {{i+1}}</mat-label>
              <input matInput placeholder="Kategorie" [formControlName]="i">
            </mat-form-field>
          </div>
        </th>
        <button class="add-cart-btn"
                mat-icon-button
                (click)="addColumn()"
                matTooltip="Kategorie hinzufügen">
          <mat-icon>add_chart</mat-icon>
        </button>
              
      </tr>
        
      <tr *ngFor="let memberValues of memberValuesArrays.controls; index as i;
                  last as lastColumn;
                  first as firstColumn" >
        <td [class.hoverColumn]="j == hoverColumn"
            [class.lastColumn]="j == hoverColumn && lastColumn"
            [class.hoverRow]="i == hoverRow"
            [class.hoverRowFirst]="i == hoverRow && firstRow"
            [class.hoverRowLast]="i == hoverRow && lastRow"
            formArray="i"
            *ngFor="let value of getMember(i).controls; index as j;
                    last as lastRow;
                    first as firstRow">
          <mat-form-field appearance="legacy">
            <mat-label>{{titles.controls[j].value}}</mat-label>
            <input matInput placeholder="Wert" [formControl]="getMemberValue(i, j)">
          </mat-form-field>
        </td>
        <button mat-icon-button
                (mouseenter)="setMouseHoverRow(i)"
                (mouseleave)="setMouseHoverRow(-1)"
                (click)="removeMember(i)"
                matTooltip="Teilnehmer löschen">
          <mat-icon>delete</mat-icon>
        </button>
      </tr>
        
    </table>
      
      <button mat-icon-button
              (click)="addMember()"
              matTooltip="Teilnehmer hinzufügen">
        <mat-icon>person_add</mat-icon>
      </button>
      
      <div>
        <button mat-button (click)="navigateBack()">Abbrechen</button>
        <button mat-button
                (click)="saveForm()"
                [disabled]="form.invalid"
        >Speichern</button>
      </div>
  </form>
    
</div>